@font-face {
    font-family: "Museo900";
    src: url("../fonts/Museo900.otf") format("opentype");
}

@font-face {
    font-family: "Museo700";
    src: url("../fonts/Museo700.otf") format("opentype");
}

@font-face {
    font-family: "Museo500";
    src: url("../fonts/Museo500.otf") format("opentype");
}

@font-face {
    font-family: "MuseoSans-700";
    src: url("../fonts/MuseoSans-700.otf") format("opentype");
}
@font-face {
    font-family: "MuseoSans-500";
    src: url("../fonts/MuseoSans-500.otf") format("opentype");
}
  
  

.bg_yellow {
    background-color: #FFDD09;
}

.bg_white {
    background-color: #fff;
}

.bg_mayan {
    background-image: url('../img/background_inicio.jpg');
}

.bg_radiant_pt1 {
    background: #5EA31E;
    background: radial-gradient(#A9EE12, #5EA31E);
}

.bg_linearGradient {
    margin: 0;
    background: rgb(96,167,35);
    background: linear-gradient(90deg, rgba(96,167,35,1) 0%, rgba(96,167,35,1) 11%, rgba(105,172,47,1) 11%, rgba(105,172,47,1) 22%, rgba(96,167,35,1) 22%, rgba(96,167,35,1) 33%, rgba(105,172,47,1) 33%, rgba(105,172,47,1) 44%, rgba(96,167,35,1) 44%, rgba(96,167,35,1) 55%, rgba(105,172,47,1) 55%, rgba(105,172,47,1) 66%, rgba(96,167,35,1) 66%, rgba(96,167,35,1) 77%, rgba(105,172,47,1) 77%, rgba(105,172,47,1) 88%, rgba(96,167,35,1) 88%, rgba(96,167,35,1) 100%);
  }

.bg_green {
    background-color: #579E0E;
}

.bg_blue {
    background-color: #137DEB;
}

.bg_blue_aqua{
    background-color: #00D0E6;
}

.bg_blue_2 {
    background-color: #008091;
}


.font_blue {
    color: #0076EA;
}

.font_yellow {
    color: #FFDD09;
}


.font_white {
    color: #fff;
}

.font_blueAqua {
    color: #008A9F;
}

.font_black {
    color: black;
}

.museo_900 {
    font-family: Museo900;
}

.museo_500 {
    font-family: Museo500;
}

.museo_700 {
    font-family: Museo700;
}

.museo_sans_700 {
    font-family: MuseoSans-700;
}

.museo_sans_500 {
    font-family: MuseoSans-500;
}

.img_vigilado {
    height: 5rem;;
}

.img_mensaje {
    height: 18rem;
}

.img_balon_cronometro {
    height: 18rem;
    margin-left: 6rem;
    margin-top: -5rem;
}

.img_cancha {
    margin-top: -8rem;
}

.img_silbato {
    margin-left: -30rem;
    margin-top: 2rem;
}

.img_Sello-campeones {
    height: 10rem;
    margin-left: 3rem;
    margin-top: 2.5rem;
}

.img_Sello-campeones_s1 {
    height: 14rem;
    margin-top: -1.5rem;
    z-index: -1;
}

.img_logo {
    height: 4rem;
}

.img_balon {
    margin-top: -5rem;
    margin-right: -4rem;
}

.img_hombre_bandera {
    height: 32rem;
}

.img_mano_app {
    height: 30rem;
    margin-left: -4rem;
}

.header-heigh {
    height: 6rem;
}

nav {
    width: 18rem;    
    font-size: 1.1rem;
}

.nav_a:hover{
    color: #0076EA;
}

.container_nav {
    margin-left: 17rem!important;
}

.container_seccion_informacion{
    margin-top: 7rem;
    width: 50rem;
    height: 11rem;
}

.container_body {
    padding-top: 5.5rem;
}
.container_s1 {
    height: 35rem;
}

.container_gana_s1 {
    margin-top: -1.6rem;
}

.container_logos_s1 {
    width: 29rem!important;
}

.container_s2 {
    width: 90%;
    margin-top: 8rem;
    height: 23rem;
}

.container_s1_yellow {
    width: 32rem;
}

.container_p1 {
    padding-bottom: 13rem;
}

.container_p2 {
    padding-bottom: 9rem;
}

.container_s3_header{
    height: 12rem;
}

.seccion_s2_col2 {
	margin-left: -7rem;
	margin-top: 3rem;
}

.container_abre_cuenta {
    width: 25rem;
    border-radius: 2rem;
}

.h3_s1{
    font-size: 1.2rem;
}

.h2_s3 {
    font-size: 2.5rem;
}

.h2_descarga {
    font-size: 2.5rem;
}
.p_s2 {
    font-size: 1.5rem;
}

.p_abre_cuenta {
    font-size: 1.5rem;
}

.p_necesitas_informacion {
    font-size: 1.9rem;
}

.p_chatea {
    font-size: 2.5rem;
}

.p_s2_abre {
    font-size: 1.5rem;
}

.o_pasa_agina {
    font-size: 1.4rem;
}

.border_rounded {
    border-radius: 2rem;
}

.border_top {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.border_botton {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.w_fit {
    width: fit-content;
}

.w_90{
    width: 90%;
}

.m_top_8 {
    margin-top: 8rem;
}

.container_img_item {
    display: inline-block;
    width: 6rem;
    text-align: center;
    padding: 1.1rem;
    border-radius: 0.6rem;
}

.border_right_blue {
    border-right-color: #0F78DB;
    border-right-width: 0.15rem;
    border-right-style: solid;
}

.h3_numero_paso {
    font-size: 1.4rem;
}

.numero_paso {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    margin-top: -2rem;
    margin-left: -2.5rem;
}

@media (max-width: 1291px) {
    .img_hombre_bandera {
        height: 25rem;
    }
    .container_s1 {
        height: 29rem;
        width: 97%;
    }
    .container_s1_yellow {
        width: 26rem;
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }
    .h3_s1 {
        width: fit-content;
        font-size: 1rem;
    }
    .h2_aprovecha {
        font-size: 1.6rem;
    }
    .img_Sello-campeones_s1 {
        height: 12rem;
    }
    .container_logos_s1 {
        width: 23rem!important;
    }
    .img_win_online, .img_pasa_pagina {
        height: 2.5rem;
    }
    .p_s2 {
        font-size: 1.3rem;
    }
    
    .p_s2_abre {
        font-size: 1.3rem;
    }
    
    .img_balon {
        margin-top: -6rem;
        margin-right: -3rem;
    }
    .h2_s3 {
        font-size: 2.3rem;
    }
    
    .container_s3_header {
        height: 10rem;
    }
    
    .img_silbato {
        margin-left: -25rem;
    }
    .p_abre_cuenta {
        font-size: 1.3rem;
    }
    .img_balon_cronometro {
        height: 14rem;
        margin-left: 5rem;
        margin-top: -3rem;
    }
    .img_Sello-campeones {
        height: 9rem;
    }
    .container_nav {
        margin-left: 14.5rem!important;
    }
    .img_logo {
        height: 3rem;
    }
    .seccion_s2_col2 {
        margin-left: -5.5rem;
    }
    .container_abre_cuenta {
        width: 21rem;
    }
}

@media (max-width:991px){
    .img_logo{
        height: 5rem;
    }
    .img_vigilado{
        height: 6rem;
    }
    .nav_mobile{
        border-color: #579E0E;
        border-top-style: solid;
    }
    .img_Sello-campeones{
        margin-top: -1.9rem;
        margin-left: 0rem;
    }
    nav{
        width: auto;
    }
    .container_nav {
        margin-left: 0!important;
        padding-left: 18rem;
    }
    .container_body{
        padding-top: 0;
    }
    .container_s1 {
        height: 60rem;
        width: 100%;
    }
}